body{
    background-color:black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    right: 0px;
    position: absolute;
    min-height: 10vh;
    padding-right: 70px;
    
}/*
.container:hover{
    opacity: 0.7;
}*/
#btn-1:hover{
    background-position: right center;
}
#btn-1{
/*" box-shadow: 0 0 20px #f665de;"also we have added glow here[check if it looks good*/
    /* border-style:ridge; in both btn1 and btn2 gives optimal effect*/
   /* border-color:#7906eb ;*/
    border-style: ridge;
    border-radius: 5px;
    flex: 1 1 auto;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: auto;
    color: white;
    background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
}
#sec{
    color: black;
    position: absolute;
    right: 0;
    padding-right: 200px;
    height: 50px;
    
}
#btn-2{
    /* add height10% and pad-align text to get optimal sizedbunnn*/
   /* " box-shadow: 0 0 10px #ffffff;"this adds glow to out button and looks pretty nifty*/
   /* border-color: white;*/
    border-style: ridge;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: auto;
    color: white;
    background-image: linear-gradient(to right,#040304 0%,#000000,#000000 110%);
}
#logo{
    position: absolute;
    left: 0px;
    padding-left: 100px;
    
}
#text{
    min-height: 35%;
    min-width: 550px;
    margin-bottom: 320px;
    margin-left: 80px;
    @font-face {
        font-family: CinzelFont;
        src: url('CinzelFont.ttf');
    }
    margin-top: 30px;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 550px;
    font-size: 40px;
    background-color: black;/*Remove this color not needed*/
}
#par{
    color: #ffffff !important;
    background-color: #ffffff !important;/*remove the par-color and bgcolor and also the text container bgcolor black*/
}
#text2{
    min-height: 30%;
    min-width: 50%;
    background-color: black;
    height: 30%;
    width: 50%;
    background-color: black;
    bottom: 0;
    left: 0;
    margin-left: 80px;
    margin-bottom: 100px;
    @font-face {
        font-family: NotoSerif;
        src: url('NotoSerif.ttf');
    }
    
}
#para2{
    color: white;
    font-size: 20px;
}

#link{
    min-height: 50px;
    min-width: 200px;
    margin-left: 80px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: all;
    /*z-index: 9999999;*/
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
}
#link:hover{
    transition:all 1.1s ease;
    opacity: 0.5;
}
#link span{
    cursor: pointer;
}
#ma{
   /* height: 300px;
    width: 300px; */
   /* height: 50px;
    width: 15px; */
    min-height: 400px;
    min-width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    margin-right: 150px;
    /*border-radius: 5px;*/
    width: 30%;
    height: 400px;
    animation: rotate 10s linear infinite;
    /*border: 5px dashed #ffffff;*/
    
}
#roIMG{
    border-radius: 100%;
    object-fit: cover;
}
@keyframes rotate {
    100%{
        transform: rotate(0deg);
    }
    
}
#one{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 200px;
    color: white;
    margin-right: 70px;
    margin-top: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);

}
#one:hover{
    transition: all 1.1s ease;
    opacity: 0.5;
}
#two{
    border-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 300px;
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right,#040304 0%,#000000,#000000 110%);

}
#two:hover{
    transition: all 1s ease;
    opacity: 0.5;
}

/*  ______________________________________________________________________________________________________________*/
@media screen and (min-height:812px){
    #one{  
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 135px;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
    
    }
    #two{
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 50px;
        color: white;
        margin-right: 150px;
        margin-top: 10px;
        border-radius: 5px;
        background-image: linear-gradient(to right,#040304 0%,#000000,#000000 110%);
    
    }
    #logo{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -80px;
        margin-top: 10px;
        width: 50;
        height: 10;
        
    }
    #text{
        @font-face {
            font-family: CinzelFont;
            src: url('CinzelFont.ttf');
        }
    min-height: 30%;
    min-width: 50%;
    background-color: black;
    height: 30%;
    width: 75%;
    background-color: black;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 400px;
    font-size: 30px;
    }
    #para{
        color: white;
        @font-face {
            font-family: CinzelFont;
            src: url('CinzelFont.ttf');
        }
        
    }
    /*--------para2Txt2*/

    #text2{
        @font-face {
            font-family: NotoSerif;
            src: url('NotoSerif.ttf');
        }
       
        min-height: 30%;
        min-width: 50%;
        background-color: black;
        height: 30%;
        width: 75%;
        background-color: black;
        bottom: 0;
        left: 0;
        margin-left: 20px;
        margin-bottom: 150px;
        
    }
    #para2{
        @font-face {
            font-family: NotoSerif;
            src: url('NotoSerif.ttf');
        }
        color: white;
    }
    #link{
        margin-left: 20px;
        margin-bottom: 95px;
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: all;
        /*z-index: 9999999;*/
        height: 40px;
        width: 50px;
        border-radius: 5px;
        color: white;
        background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
    }
    #link:hover{
        transition:all 1.1s ease;
        opacity: 0.5;
    }
    #link span{
        cursor: pointer;
    }
    #ma{
        position: absolute;
        bottom: 0;
        right: 0;
        animation: rotate 10s linear infinite;
    }
    #roIMG{
        margin-right: 100px;
        height: 50%;
        width: 100%;
        border-radius: 10%;
        object-fit: cover;
    }
    body{
        background-color: white;
    }
   
}











/* pixel 2 width="411" heigh="731"*/
@media screen and (min-height:731px){
    #one{  
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 135px;
        color: white;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 5px;
        background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        
        }
        #two{
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 50px;
            color: white;
            margin-right: 150px;
            margin-top: 10px;
            border-radius: 5px;
            background-image: linear-gradient(to right,#040304 0%,#000000,#000000 110%);
        
        }
        #logo{
            position: absolute;
            top: 0;
            left: 0;
            margin-left: -80px;
            margin-top: 10px;
            width: 50;
            height: 10;
            
        }
        #text{
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
        min-height: 30%;
        min-width: 50%;
        background-color: black;
        height: 30%;
        width: 75%;
        background-color: black;
        bottom: 0;
        left: 0;
        margin-left: 20px;
        margin-bottom: 400px;
        font-size: 30px;
        }
        #para{
            color: white;
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
            
        }    
        #text2{
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
           
            min-height: 30%;
            min-width: 50%;
            background-color: black;
            height: 30%;
            width: 75%;
            background-color: black;
            bottom: 0;
            left: 0;
            margin-left: 20px;
            margin-bottom: 150px;
            
        }
        #para2{
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
            color: white;
        }
        #link{
            margin-left: 20px;
            margin-bottom: 95px;
            position: absolute;
            bottom: 0;
            left: 0;
            pointer-events: all;
            /*z-index: 9999999;*/
            height: 40px;
            width: 50px;
            border-radius: 5px;
            color: white;
            background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        }
        #link:hover{
            transition:all 1.1s ease;
            opacity: 0.5;
        }
        #link span{
            cursor: pointer;
        }
        #ma{
            position: absolute;
            bottom: 0;
            right: 0;
            animation: rotate 10s linear infinite;
        }
        #roIMG{
            margin-right: 100px;
            height: 50%;
            width: 100%;
            border-radius: 10%;
            object-fit: cover;
        }
        body{
            background-color: white;
        }
       
}
















/* height = 640*/
@media screen and (max-height:640px){
    #one{  
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 135px;
        color: white;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 5px;
        background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        
        }
        #two{
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 50px;
            color: white;
            margin-right: 150px;
            margin-top: 10px;
            border-radius: 5px;
            background-image: linear-gradient(to right,#040304 0%,#000000,#000000 110%);
        
        }
        #logo{
            position: absolute;
            top: 0;
            left: 0;
            margin-left: -80px;
            margin-top: 10px;
            width: 50;
            height: 10;
            
        }
        #text{
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
        min-height: 30%;
        min-width: 50%;
        background-color: black;
        height: 30%;
        width: 75%;
        background-color: black;
        bottom: 0;
        left: 0;
        margin-left: 20px;
        margin-bottom: 400px;
        font-size: 30px;
        }
        #para{
            color: white;
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
            
        }
        /*--------para2Txt2*/
    
        #text2{
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
           
            min-height: 30%;
            min-width: 50%;
            background-color: black;
            height: 30%;
            width: 75%;
            background-color: black;
            bottom: 0;
            left: 0;
            margin-left: 20px;
            margin-bottom: 150px;
            
        }
        #para2{
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
            color: white;
        }
        #link{
            margin-left: 20px;
            margin-bottom: 95px;
            position: absolute;
            bottom: 0;
            left: 0;
            pointer-events: all;
            /*z-index: 9999999;*/
            height: 40px;
            width: 50px;
            border-radius: 5px;
            color: white;
            background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        }
        #link:hover{
            transition:all 1.1s ease;
            opacity: 0.5;
        }
        #link span{
            cursor: pointer;
        }
        #ma{
            /* height: 300px;
             width: 300px; */
            /* height: 50px;
             width: 15px; */
             min-height: 400px;
             min-width: 30%;
             position: absolute;
             bottom: 0;
             right: 0;
             margin-bottom: 400px;
             margin-right: 150px;
             /*border-radius: 5px;*/
             width: 30%;
             height: 400px;
             animation: rotate 10s linear infinite;
             /*border: 5px dashed #ffffff;*/
             
         }
         #roIMG{
             border-radius: 100%;
             object-fit: cover;
         }
         @keyframes rotate {
             100%{
                 transform: rotate(0deg);
             }
             
        body{
            background-color: white;
        }
       
}

}









































@media screen and (min-height:1980px){
    #one{  
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 135px;
        color: white;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 5px;
        background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        
        }
        #two{
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 50px;
            color: white;
            margin-right: 150px;
            margin-top: 10px;
            border-radius: 5px;
            background-image: linear-gradient(to right,#040304 0%,#000000,#000000 110%);
        
        }
        #logo{
            position: absolute;
            top: 0;
            left: 0;
            margin-left: -80px;
            margin-top: 10px;
            width: 50;
            height: 10;
            
        }
        #text{
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
        min-height: 30%;
        min-width: 50%;
        background-color: black;
        height: 30%;
        width: 75%;
        background-color: black;
        bottom: 0;
        left: 0;
        margin-left: 20px;
        margin-bottom: 800px;
        font-size: 30px;
        }
        #para{
            color: white;
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
            
        }
        /*--------para2Txt2*/
    
        #text2{
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
           
            min-height: 30%;
            min-width: 50%;
            background-color: black;
            height: 30%;
            width: 75%;
            background-color: black;
            bottom: 0;
            left: 0;
            margin-left: 20px;
            margin-bottom: 150px;
            
        }
        #para2{
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
            color: white;
        }
        #link{
            margin-left: 20px;
            margin-bottom: 95px;
            position: absolute;
            bottom: 0;
            left: 0;
            pointer-events: all;
            /*z-index: 9999999;*/
            height: 40px;
            width: 50px;
            border-radius: 5px;
            color: white;
            background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        }
        #link:hover{
            transition:all 1.1s ease;
            opacity: 0.5;
        }
        #link span{
            cursor: pointer;
        }
        #ma{
            /* height: 300px;
             width: 300px; */
            /* height: 50px;
             width: 15px; */
             position: absolute;
             bottom: 0;
             right: 0;
             margin-bottom: 600px;
             margin-right: 10px;
             /*border-radius: 5px;*/
             width: 65%;
             height: 70%;
             animation: rotate 10s linear infinite;
             /*border: 5px dashed #ffffff;*/
             
         }
         #roIMG{
             border-radius: 100%;
             margin-top: 50%;
             object-fit: cover;
         }
         @keyframes rotate {
             100%{
                 transform: rotate(0deg);
             }
}
body{
    background-color:black;
}
}


















@media screen and (max-height:619px){
    #one{  
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 135px;
        color: white;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 5px;
        background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        
        }
        #two{
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 50px;
            color: white;
            margin-right: 150px;
            margin-top: 10px;
            border-radius: 5px;
            background-image: linear-gradient(to right,#040304 0%,#000000,#000000 110%);
        
        }
        #logo{
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 10px;
            
        }
        #logoid{
            height: 25px;
            width: 25px;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 10px;
        }
        #text{
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
        background-color: black;
        height: 30%;
        width: 75%;
        bottom: 0;
        left: 0;
        margin-left: 20px;
        margin-bottom: 300px;
        font-size: 20px;
        }
        #para{
            color: white;
            @font-face {
                font-family: CinzelFont;
                src: url('CinzelFont.ttf');
            }
            
        }
        /*--------para2Txt2*/
    
        #text2{
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
           
            min-height: 30%;
            min-width: 50%;
            background-color: black;
            height: 30%;
            width: 75%;
            background-color: black;
            bottom: 0;
            left: 0;
            margin-left: 20px;
            margin-bottom: 100px;
            
        }
        #para2{
            font-size: 10px;
            @font-face {
                font-family: NotoSerif;
                src: url('NotoSerif.ttf');
            }
            color: white;
        }
        #link{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 30px;
            width: 50px;
            color: white;
            margin-left: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            background-image: linear-gradient(to bottom right,#f665de 0%,#c776b9,#7649aa 110%);
        }
        #link:hover{
            transition:all 1.1s ease;
            opacity: 0.5;
        }
        #link span{
            cursor: pointer;
        }
        #ma{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 80px;
            margin-right: 100px;
            
            
            animation: rotate 10s linear infinite;  
         }
         #roIMG{
             border-radius: 50%;
             height: 50%;
             width: 150%;
             object-fit: cover;
         }
         @keyframes rotate {
             100%{
                 transform: rotate(0deg);
             }
             
        
       
}
body{
    background-color: black;
}

}
