body{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    font-family: 'Open Sans';
    font-size: 2.525rem;
    font-weight: 500;
    letter-spacing: 0.050rem;
    color: #1f1f1d;
}
.navbar-brand:hover {
    color: #1f1f1d;

}
.navbar-brand:active, .navbar-brand:visited, .navbar-brand:focus {
    color: #1f1f1d;
    text-decoration: none;
}
.container{
    padding: 0;
    margin: 0;
}
.form-group{
    font-family: 'Lato';
    font-size: medium;
    font-weight: 500;
    letter-spacing: 0.075rem;
    width: 100%;
}
#presentvalue, #interest, #time {
    border-color: none;
    box-shadow: none;
    border-radius: 1px;
    font-weight: 500;
    font-size: 1.525rem;
}
  textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: none;
    border-color: none;
    box-shadow: none;
  outline: 1px solid #807f7e;
  border-radius: 1px;
}
.calculate{
    display: inline-block;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.5%;
    padding: 8px;
    text-transform: uppercase;
    /* background-color: #1c1c1b; */
    background-color: #2e2d2b;
    color: #fff;
    
    margin: 4px;
    text-decoration: none;
}
.calculate:hover{
    cursor: pointer;
    color: #fff;
    transform: scale(1.125);
    transition: transform 100ms ease;
    text-decoration: none;
}
.calculate:active, .calculate:visited, .calculate:focus {
    color: #fff;
    text-decoration: none;
}
#calcres {
    text-align: left;
}
#info{
    padding: 1.5rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#chart {
    display: flex;
    aspect-ratio: 100 /20;
    width: 30%;
    height: 30%;
}
#futureValue, #ceil, #floor{
    color: #eb8531;
    font-weight: 600;
}
#pv, #int, #periods {
    color: #1663de;
}
.formula {
    font-family: 'Roboto';
    font-weight: 600;
    outline: 1px solid #e3e3e3;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-left: 0.5rem;
}
.formulacalc {
    font-family: 'Roboto';
    font-weight: 500;
}
#doughnote {
    font-family: 'Roboto';
    color: #414345;
    font-size: 1.525rem;
    font-weight: 500;
}
p:not(.formula, #doughnote) {
    font-family: 'Roboto';
    color: #414345;
    font-size: 1.625rem;
    font-weight: 500;
}
h4{
    color: #2e2d2a;
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: 600;
}
.mainfv {
    font-family: 'Roboto';
    font-weight: 600;
}
.fvequals{
    font-size: 1.5rem;
    font-weight: 600;
}
.note {
    padding-left: 1.5rem;
}
.where, .if, .then {
    font-size: 1.385rem;
    font-weight: 600;
    color: #4285F4;
}
#usage, #factors, #howto, #tvm {
    margin-top: 2.225rem;
}
/* table */
table {
    font-family: 'Roboto';
    border-collapse: collapse;
    width: 100%;
  }
  
   th {
    font-size: 1.525rem;
    outline: 1px solid #e3e3e3;
    font-size: 1.6rem;
    text-align: left;
    padding: 8px;
    font-family: 'Roboto';
  }
  td {
      font-family: 'Roboto';
      font-weight: 600;
      outline: 1px solid #e3e3e3;
      color: #63625d;
      text-align: left;
      padding: 8px;
      font-size: 1.325rem;
  }
  
  tr:nth-child(even) {
    background-color: #e3e3e3;
  }
/* table */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .form-group{
        width: 100%;
    }
    #chart{
        width: 100%;
        height: 100%;
    }
    .calculate:hover{
        transform: none;
    }
    .note {
        padding: 1.5rem 1.5rem 0;
    }
    h4 {
        font-size: 2.225rem;
    }
    p:not(.formula, #doughnote) {
        font-size: 1.525rem;
    }
  }
