body{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    font-family: 'Open Sans';
    font-size: 2.525rem;
    letter-spacing: 0.100rem;
    color: #000;
}
.navbar-brand:hover {
    color: #000;
}
.navbar-brand:active, .navbar-brand:visited, .navbar-brand:focus {
    color: #000;
    text-decoration: none;
}
.container{
    padding: 0;
    margin: 0;
}
.form-group{
    font-family: 'Roboto';
    font-size: medium;
    font-weight: 100;
    letter-spacing: 0.125rem;
    width: 100%;
}
.calculate{
    display: inline-block;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.5%;
    padding: 8px;
    text-transform: uppercase;
    background-color: #1c1c1b;
    color: #fff;
    
    margin: 4px;
    text-decoration: none;
}
.calculate:hover{
    cursor: pointer;
    color: #fff;
    transform: scale(1.125);
    transition: transform 100ms ease;
    text-decoration: none;
}
.calculate:active, .calculate:visited, .calculate:focus {
    color: #fff;
    text-decoration: none;
}
#calcres {
    text-align: left;
}
#info{
    padding: 1.5rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#chart {
    display: flex;
    aspect-ratio: 100 /20;
    width: 30%;
    height: 30%;
}
#futureValue, #ceil, #floor{
    color: #eb8531;
}
#pv, #int, #periods {
    color: #1663de;
}
.formula {
    font-family: 'Roboto';
    font-weight: 600;
    outline: 1px solid #e3e3e3;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
}
.formulacalc {
    font-family: 'Roboto';
    font-weight: 500;
}
p {
    font-family: 'Roboto';
}
h4:not(.formula){
    color: #1f2021;
    font-family: 'Roboto';
    font-weight: 200;
}
.fvequals{
    font-size: 1.5rem;
    font-weight: 600;
}
.note {
    padding-left: 1.5rem;
}
.where , .if, .then {
    font-size: 1.4rem;
    color: #4285F4;
}
/* table */
table {
    font-family: 'Roboto';
    border-collapse: collapse;
    width: 100%;
  }
  
   th {
    font-size: 1.525rem;
    outline: 1px solid #e3e3e3;
    text-align: left;
    padding: 8px;
  }
  td {
      font-weight: 500;
      outline: 1px solid #e3e3e3;
      text-align: left;
      padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e3e3e3;
  }
/* table */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .form-group{
        width: 100%;
    }
    #chart{
        width: 100%;
        height: 100%;
    }
    .calculate:hover{
        transform: none;
    }
    .note {
        padding: 1.5rem 1.5rem 0;
    }
  }
