@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'adihaus_regular'; 
    src: url('adihaus_regular.ttf');
}
@font-face {
    font-family: 'adihaus_bold'; 
    src: url('adihaus_bold.ttf');
}
@font-face {
    font-family: 'adineue_pro_bold'; 
    src: url('adineue_pro_bold.OTF');
}
@font-face {
    font-family: 'AdihausDIN'; 
    src: url('AdihausDIN.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}
.navbar {
    box-shadow: 0 0.8999px 0.8999px -0.8999px #212121;
        -moz-box-shadow:   0 0.8999px 0.8999px -0.8999px #212121;
        -webkit-box-shadow:   0 0.8999px 0.8999px -0.8999px #212121;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
}
.navbar a {
    color: #000;
}
.hamburger {
    position: relative;
    float: right;
    display: block;
    width: 35px;
    cursor: pointer;
    margin-top: 10px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;
}
.hamburger .bar , .hamburger:before , .hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #212121;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-6px, 6px);
}
.hamburger.is-active:after {
    transform: rotate(45deg) translate(-6px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
}
.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    padding-top: 120px;
    transition: 0.4s;
    background-color: #FFF;
}
.mobile-nav.is-active {
    left: 0;
}
.mobile-nav a:not(.fa){
    display: block;
    margin: 0 auto 16px;
    width: fit-content;
    text-align: center;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'adihaus_bold';
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
#mobile-nav-footer {
    height: 40px;
    color: #000000;
    position: fixed;
    bottom: 0;
}
.desktoplinks a {
    font-family: 'adihaus_bold', Helvetica, Arial , sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 20px;
    color: #212121;
}
.desktoplinks a {
    position: relative;
    color: #212121;
    text-decoration: none;
    padding-bottom: 3px;
  }
  
  .desktoplinks a:hover {
    color: #212121;
  }
  
  .desktoplinks a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #212121;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .desktoplinks a:hover::before {
    transform: scaleX(1);
  }
#navcontainer .desktoplinks {
    position: relative;
    float: right;
    margin-top: 21px;
}
.select {
    display: inline-block;
    justify-content: left;
    place-items: left;
    margin-bottom: 8px;
    margin-top: -5px;
    width: 100%;
}
  .disclaimerbutton {
      font-size: 28px;
  }
  .disclaimerbutton .tooltiptext {
      font-family: 'adihaus_regular', Arial, Helvetica, sans-serif;
      font-size: 17px;
    visibility: hidden;
    width: fit-content;
    background-color: #242424;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    position: absolute;
    z-index: 1;
    margin-left: -212px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .disclaimerbutton .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
  }
  
.disclaimerbutton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
#start, #end {
    font-family: 'AdihausDIN', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #424242;
    cursor: pointer;
    margin-bottom: 50px;
}
#start {
    margin-top: 50px;
}
#begin, #endinput {
    cursor: pointer;
}
input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgba(252, 125, 116);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.form, .form2, .form3, .form4 {
    outline: 1px solid #767677;
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 0;
}
.input, .input2, .input3, .input4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border: 0;
    border-color: none;
    box-shadow: none;
    padding: 0 1rem;
}
.inputlabel, .intlabel, .timelabel, .pmtlabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    overflow: hidden;
    color: #424242;
    position: relative;
    left: 10px;
    top: -72px;
    background-color: #fff;
    height: fit-content;
}
.navbar-brand{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 800;
    color: #5f6368;
    height: max-content;
}
#brand-text {
    margin-top: 5px;
}
.navbar-brand:hover {
    color: #5f6368;

}
.navbar-brand:active, .navbar-brand:visited, .navbar-brand:focus {
    color: #5f6368;
}
.heading {
    font-family: 'adineue_pro_bold', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 32px;
    margin-bottom: 62px;
    padding: 0;
    
}
  textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: none;
    border-color: none;
    box-shadow: none;
  outline: 1px solid #807f7e;
  border-radius: 1px;
}
.calculate-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 0 10px;
}
.calculate{
    color: #000000;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 25px;
    position: relative;
    margin-bottom: 100px;
    text-align: center;
}
.btn2 {
    color: #FFF;
    font-size: 21px;
    font-family: 'AdihausDIN', Arial, Helvetica, sans-serif;
    transition: color 0.2s ease;
}
.btn2::after, .btn2::before {
    border: 1px solid #000000;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}
.btn2::after {
    background-color: #000000;
    transform: translate(-5px, -5px);
}
.btn2::before {
    z-index: 1;
    float: right;
    transform: translate(1.5px, 1.5px);
}
.btn2:hover{
    cursor: pointer;
    color: #b0b0b0;
    text-decoration: none;
}
.btn2:active, .btn2:visited, .btn2:focus {
    color: #fff;
    text-decoration: none;
}
.disclaimerbutton {
    position: relative;
    float: right;
    padding-right: 10px;
}
#col-md-6-id {
    padding: 0;
}
#info{
    padding: 1.5rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#chart {
    display: flex;
    position: relative;
    left: 150px;
    top: 45px;
    width: 30%;
    height: 30%;
}
#futureValue {
    color:  rgba(252, 125, 116);
    font-family: 'adihaus_regular', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 800;
}
#ceil, #floor{
    text-align: center;
    color:  rgba(252, 125, 116);
    font-family: 'Noto Serif', serif;
      font-weight: 200;
      font-size: 18px;
    font-weight: 200;
}
#initial-amount-id ,#pv, #int, #periods, #pmtop {
    word-break: break-all;
    text-align: center;
    color: #414141;
    font-family: 'Noto Serif', serif;
      font-weight: 200;
      font-size: 18px;
}
.formula {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
    outline: 1px solid #e3e3e3;
    width: fit-content;
    height: fit-content;
    line-height: 5rem;
    padding: 1.225rem;
    margin-left: 60px;
}
.formulacalc {
    font-family: 'Roboto';
    font-weight: 500;
}
p:not(.formula, #doughnote) {
    font-family: 'Roboto';
    color: #2e2d2a;
    font-size: 21px;
    font-weight: 500;
}
ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #1a1c1b;
    transform: scale(1.5);
    font-weight: bold;
    display: inline-block; 
    width: 0.9em;
    margin-left: -0.9em;
  }
h3{
    color: #202124;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
}
.mainfv {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'adihaus_regular', Arial, Helvetica, sans-serif; */
    font-size: 32px;
    font-weight: 800;
    color: #212121;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 2px;
    margin-top: 23px;
    margin-bottom: 100px;
}
#usage, #factors, #howto, #tvm {
    margin-top: 100px;
    margin-bottom: 100px;
}
/* table */
table {
    font-family: 'Roboto';
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
  }
  td {
      font-family: 'Roboto';
      font-weight: 600;
      color: #1f1f1d;
      text-align: left;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 25px;
  }
  #initial-amount-table, #pvtable, #intable, #tabletime, #ceiltable, #floortable, #pmtable {
      font-family: 'Noto Serif', serif;
      font-weight: 200;
      font-size: 18px;
      width: 50%;
      color: #414141;
  }
  tr{
      font-family: 'Roboto';
      border-bottom: 1px solid#dedede;
  }
/* table */
#footerid {
    display: flex;
    height: 520px;
    margin-top: 20px;
    background-color: #000;
}
#links {
    padding-left: 30px;
    text-align: center;
}
.footerlinks {
    font-family: 'AdihausDIN', Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.footerlinks:hover {
    text-decoration: none;
}
.all-list-wrap {
    padding: 100px 0 0 0;
}
.linklist {
    margin-bottom: 100px;
}
.linklist::before {
    color: #6b6b6b;
}
.copyrightdiv {
    display: block;
    text-align: center;
    font-family: 'AdihausDIN',Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6b6b6b;
    position: relative;
}
.trin {
    font-family: 'AdihausDIN', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.trin:hover {
    text-decoration: none;
}
.indication {
    width: 30px;
    height: 30px;
    margin-top: -10px;
}
.FV_formula {
    font-family: 'adineue_pro', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-left: 20px;
    letter-spacing: 0.5px;
    color: #000000;
}
.formula_with_pmt {
    font-family: 'adineue_pro_bold' ,Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#howtocalculatefv, #futurevalofmoneycalc {
    font-family: 'adineue_pro_bold' ,Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
#future-val-with-pmt{
    margin-top: 60px;
    margin-bottom: 60px;
}
#fvwithpmtdescription {
    margin-bottom: 100px;
}
.fv_along_pmt_pv {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
    outline: 1px solid #e3e3e3;
    width: fit-content;
    height: fit-content;
    margin-bottom: 100px;
    line-height: 5rem;
    padding: 1.225rem;
}
.clock_FV {
    width: 275px;
    height: 275px;
    position: relative;
    float: center;
    margin-left: 132px;
}
.clock_description {
    font-family: 'adihaus_regular',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #000000;
    margin-top: 152px;
}
.clock_des_mobile {
    font-size: 20px;
}
#table_container {
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
}
#formula_container_resp {
    display: block;
}
#formula_container_for_991 {
    display: none;
}
.tvm_svg {
    width: 100px;
    height: 75px;
    margin-top: -10px;
}
.tvm_heading {
    font-family: 'adineue_pro_bold', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
    margin-left: 20px;
}
.tvm_description {
    margin-top: 32px;
    margin-bottom: 32px;
}
.credit-card {
    width: 320px;
    height: 320px;
    margin-right: 10px;
}
.credit-card-tvm-heading, .tvm-in-automotive {
    font-family: 'adineue_pro_bold' ,Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.credit-card-tvm-info {
    margin-top: 100px;
}
.cred-tvm {
    width: 550px;
}
#query-tvm, #knowFV, #determine{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #363534;
    margin-bottom: 32px;
}
#knowFVext {
    margin-top: 62px;
}
.bottomline {
    font-size: 25px;
    font-weight: bold;
}
.bottomlinecontainer {
    margin-top: 38px;
    margin-bottom: 100px;
}
.fa {
    font-size: 50px;
    width: fit-content;
    height: fit-content;
    background-color: #FFF;
    color: #000000;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin: 15px;
    text-decoration: none !important;
  }
  .social {
    display: block;
    margin: 0 auto 16px;
    width: fit-content;
    text-align: center;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'adihaus_bold';
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }
  .automobile_svg {
      max-width: 100%;
      max-height: 100%;
      margin-top: 32px;
      margin-bottom: 100px;
  }
  .additional-aut {
      margin-top: 28px;
  }
  .question {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      color: #363534;
      font-weight: bold;
      margin-bottom: 80px;
  }
  .try {
      font-family: 'adihaus_regular', Arial, Helvetica, sans-serif;
      font-size: 22px;
      font-weight: bold;
      color: #000000;
      margin-top: 100px;
      margin-bottom: 100px;
  }
  .part {
      background-color: #dedede;
      border: 1px solid #dedede;
      text-align: center;
      width: 100%;
  }
  .partdiv {
    text-align: center;
    width: 320px;
    margin-bottom: 100px;
  }
#watchexampleamount, #watchtime, #watchexample, #watchValue {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
}
@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .form-group{
        width: 100%;
    }
    .calculate {
        width: 100%;
    }
    table {
        margin-bottom: 20px;
    }
    #chart{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 100px;
        margin-bottom: 125px;
    }
    .navbar {
        box-shadow: none;
        -moz-box-shadow:   none;
        -webkit-box-shadow:   none;
    }
    .navbar-brand {
        padding-left: 0;
    }
    .mainfv {
        font-size: 27px;
    }
    #initial-amount-table ,#pvtable, #intable, #tabletime, #ceiltable, #floortable, #pmtable {
        font-size: 20px;
    }
    #ceil, #floor{
          font-size: 20px;
    }
    #initial-amount-id ,#pv, #int, #periods {
          font-size: 20px;
    }
    #clock {
        display: flex;
        justify-content: center;
        text-align: center;
        place-items: center;
        place-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .clock_FV {
        margin-left: 0;
    }
    .desktoplinks {
        display: none;
    }
    #links {
        padding-left: 0;
    }
    #formula_container_resp {
        display: none;
    }
    /* 991 container shared with smaller screens */
    #formula_container_for_991 {
        display: block;
    }
    .for_desktop {
        display: none;
    }
    .for_tablets {
        display: none;
    }
    .credit-card {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .credit-card-tvm-heading {
        margin-top: 32px;
    }
    .credit-card-tvm-info-second {
        margin-bottom: 36px;
    }
  }
  
  @media only screen and (min-width: 767px) {
      
    .hamburger {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    .for_mobile {
        display: none;
    }
}
  @media only screen and (max-width: 312px) {
      #brand-text {
          display: none;
      }
      .clock_FV {
          width: 220px;
          height: 220px;
      }
      .for_desktop {
          display: none;
      }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
      #formula_container_resp {
          display: none;
      }
      #formula_container_for_991 {
          margin-top: 32px;
          display: block;
          width: fit-content;
      }
      .p_text_for_991 {
          width: 58%;
      }
      #chart {
          width: 320px;
          height: 320px;
          float: right;
          margin-top: -12px;
          margin-right: 132px;
      }
      .for_desktop {
          display: none;
      }
}
@media only screen and (max-width: 991px) {
    .automobile_desktop {
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .for_tablets {
        display: none;
    }
    .automobile_phones {
        display: none;
    }
}
